<div class="">
  {{ partial "header.html" . }}
  <div class="grid grid-cols-12 w-full">
    <div class="flex flex-col 
            col-span-10 
            md:col-start-2
            md:ml-auto 
            md:mr-auto
            md:mt-44 
            mt-10
            ">
      {{ partial "subnav.html" . }}

      <section class="
                md:mt-10 
                mb-20
                md:w-8/12
                ">
        {{ with .Site.GetPage "/arbeiten_intro" }}
        <!-- <h2 class="text-xl mb-6">{{ .Title }}</h2> -->
        <div>{{ .Params.textarea | markdownify }}</div>
        {{ end }}
      </section>

      <section class="
                  grid
                  gap-6
                  xl:grid-cols-3 
                  md:grid-cols-2 
                  grid-cols-1
      ">
        {{ $display_posts := ( sort (( .Site.GetPage "section" "/arbeiten").Pages) "Params.date_order" ).Reverse }}
        {{ range $post := $display_posts }}
        {{ partial "projektlist.html" . }}
        {{ end }}
      </section>
    </div>
  </div>
</div>

<!-- {{ partial "footer.html" . }} -->