<div class="flex flex-col">
	<div class="grid md:grid-cols-12">
		{{ partial "header.html" . }}

		<div class="flex flex-col 
					md:col-span-10
					md:col-start-2 
					md:ml-10 
					">

			<div class="flex flex-col">
				<img class="w-full" src="{{ .Params.image }}" />
				<!-- <h1 class="text-4xl text-bold mt-10">{{ .Title }}</h1> -->
			</div>

			<div class="grid md:grid-cols-2">

				<div class="flex flex-col mt-10">
					<h1 class="text-3xl invisible">{{ .Title }}</h1>

					<p class="m-10">{{ .Params.paragraph1 | markdownify }}</p>
				</div>

				<div class="flex-col mt-10 ml-10">
					<h1 class="text-3xl">{{ .Title }}</h1>

					<div class="grid grid-cols-1 mt-10">
							<div>
								<div class="text-k1darker">Ort</div>
								<div class="mb-5">{{ .Params.place }}</div>
								<div class="text-k1darker">Jahr</div>
								<div class="mb-5">{{ .Params.year }}</div>

								{{ if .Params.bauherr }}
								<div class="text-k1darker">Bauherr</div>
								<div class="mb-5">{{ .Params.bauherr }}</div>
								{{ end }}

								{{ if .Params.size }}
								<div class="text-k1darker">Größe</div>
								<div class="mb-5">{{ .Params.size }}</div>
								{{ end }}

								{{ if .Params.ausloberinnen }}
								<div class="text-k1darker">Auslober*innen</div>
								<div class="mb-5">{{ .Params.ausloberinnen }}</div>
								{{ end }}

								{{ if .Params.ergebniss }}
								<div class="text-k1darker">Ergebniss</div>
								<div class="mb-5">{{ .Params.ergebniss }}</div>
								{{ end }}
							</div>
							<div>
			
								<!-- <div class="text-l textcolor-grey">Categorie</div> -->
								<!-- <div class="text-l mb-5">{{ .Params.keywords }}</div> -->
							</div>	
					</div>
				</div>

				<div class="flex flex-col mt-10">
					{{ if .Params.image2 }}
					<img class="" src="{{ .Params.image2 }}" />
					{{ end }}
					{{ if .Params.paragraph2 }}
					<p class="mt-10 ml-10 mr-20">{{ .Params.paragraph2 | markdownify }}</p>
					{{ end }}
				</div>

				<!-- ------------------------- 3 --------------------------- -->
				<div class="flex flex-col">
					{{ if .Params.image3 }}
					<img class="mt-10 ml-10" src="{{ .Params.image3 }}" />
					{{ end }} 
					<p class="mt-1.5 ml-10">
					{{ if .Params.subtitle3 }} 
					{{ .Params.subtitle3 }}</p>
					{{ end }} 
					{{ if .Params.paragraph3 }}
					<p class="mt-10 ml-20 mr-20">{{ .Params.paragraph3 | markdownify }}</p>
					{{ end }}
					
				</div>

				<!-- ------------------------ 4 ---------------------------- -->
				<div class="flex flex-col">
					{{ if .Params.image4 }}
					<img class="mt-10" src="{{ .Params.image4 }}" />
					{{ end }} {{ if .Params.subtitle4 }}
					<p class="mt-1.5">{{ .Params.subtitle4 }}</p>
					{{ end }} {{ if .Params.paragraph4 }}
					<p class="mt-10 ml-10 mr-20">{{ .Params.paragraph4 | markdownify }}</p>
					{{ end }}
				</div>
				<!-- ------------------------- 5 --------------------------- -->
				<div class="flex flex-col">
					{{ if .Params.image5 }}
					<img class="mt-10 ml-10" src="{{ .Params.image5 }}" />
					{{ end }} {{ if .Params.subtitle5 }}
					<p class="mt-1.5 ml-10">{{ .Params.subtitle5 }}</p>
					{{ end }} {{ if .Params.paragraph5 }}
					<p class="m-10 ml-20">{{ .Params.paragraph5 | markdownify }}</p>
					{{ end }}
				</div>
				<!-- ------------------------- 6 --------------------------- -->
				<div class="flex flex-col">
					{{ if .Params.image6 }}
					<img class="mt-10" src="{{ .Params.image6 }}" />
					{{ end }} {{ if .Params.subtitle6 }}
					<p class="mt-1.5 ml-10">{{ .Params.subtitle6 }}</p>
					{{ end }} {{ if .Params.paragraph6 }}
					<p class="mt-10 ml-10 mr-20">{{ .Params.paragraph6 | markdownify }}</p>
					{{ end }}
				</div>
				<!-- ------------------------- 7 --------------------------- -->
				<div class="flex flex-col">
					{{ if .Params.image7 }}
					<img class="ml-10 mt-10" src="{{ .Params.image7 }}" />
					{{ end }} {{ if .Params.subtitle7 }}
					<p class="ml-10 mt-1.5">{{ .Params.subtitle7 }}</p>
					{{ end }} {{ if .Params.paragraph7 }}
					<p class="mt-10 ml-20 mr-20">{{ .Params.paragraph7 | markdownify }}</p>
					{{ end }}
				</div>
				<!-- ------------------------- 8 --------------------------- -->
				<div class="flex flex-col">
					{{ if .Params.image8 }}
					<img class="mt-10" src="{{ .Params.image8 }}" />
					{{ end }} {{ if .Params.subtitle8 }}
					<p class="mt-1.5">{{ .Params.subtitle8 }}</p>
					{{ end }} {{ if .Params.paragraph8 }}
					<p class="mt-10 ml-10 mr-20">{{ .Params.paragraph8 | markdownify }}</p>
					{{ end }}
				</div>				
				<!-- ------------------------- 9 --------------------------- -->
				<div class="flex flex-col">
					{{ if .Params.image9 }}
					<img class="ml-10 mt-10" src="{{ .Params.image9 }}" />
					{{ end }} {{ if .Params.subtitle9 }}
					<p class="mt-1.5 ml-10">{{ .Params.subtitle9 }}</p>
					{{ end }} {{ if .Params.paragraph9 }}
					<p class="mt-10 ml-20 mr-20">{{ .Params.paragraph9 | markdownify }}</p>
					{{ end }}
				</div>				
				<!-- ------------------------- 10 --------------------------- -->
				<div class="flex flex-col">
					{{ if .Params.image10 }}
					<img class="mt-10" src="{{ .Params.image10 }}" />
					{{ end }} {{ if .Params.subtitle10 }}
					<p class="mt-1.5">{{ .Params.subtitle10 }}</p>
					{{ end }} {{ if .Params.paragraph10 }}
					<p class="mt-10 ml-10 mr-20">{{ .Params.paragraph10 | markdownify }}</p>
					{{ end }}
				</div>	
				<!-- ------------------------- 11 --------------------------- -->
				<div class="flex flex-col">
					{{ if .Params.image11 }}
					<img class="ml-10 mt-10" src="{{ .Params.image11 }}" />
					{{ end }} {{ if .Params.subtitle11 }}
					<p class="mt-1.5 ml-10">{{ .Params.subtitle11 }}</p>
					{{ end }} {{ if .Params.paragraph11 }}
					<p class="mt-10 ml-20 mr-20">{{ .Params.paragraph11 | markdownify }}</p>
					{{ end }}
				</div>
				<!-- ------------------------- 12 --------------------------- -->
				<div class="flex flex-col">
					{{ if .Params.image12 }}
					<img class="mt-10" src="{{ .Params.image12 }}" />
					{{ end }} {{ if .Params.subtitle12 }}
					<p class="mt-1.5">{{ .Params.subtitle12 }}</p>
					{{ end }} {{ if .Params.paragraph12 }}
					<p class="mt-10 ml-10 mr-20">{{ .Params.paragraph12 | markdownify }}</p>
					{{ end }}
				</div>
				<!-- ------------------------- 13 --------------------------- -->
				<div class="flex flex-col">
					{{ if .Params.image13 }}
					<img class="ml-10 mt-10" src="{{ .Params.image13 }}" />
					{{ end }} {{ if .Params.subtitle13 }}
					<p class="mt-1.5 ml-10">{{ .Params.subtitle13 }}</p>
					{{ end }} {{ if .Params.paragraph13 }}
					<p class="mt-10 ml-20 mr-20">{{ .Params.paragraph13 | markdownify }}</p>
					{{ end }}
				</div>
				<!-- ------------------------- 14 --------------------------- -->
				<div class="flex flex-col">
					{{ if .Params.image14 }}
					<img class="mt-10" src="{{ .Params.image14 }}" />
					{{ end }} {{ if .Params.subtitle14 }}
					<p class="mt-1.5">{{ .Params.subtitle14 }}</p>
					{{ end }} {{ if .Params.paragraph14 }}
					<p class="mt-10 ml-10 mr-20">{{ .Params.paragraph14 | markdownify }}</p>
					{{ end }}
				</div>
				<!-- ------------------------- 15 --------------------------- -->
				<div class="flex flex-col">
					{{ if .Params.image15 }}
					<img class="ml-10 mt-10" src="{{ .Params.image15 }}" />
					{{ end }} {{ if .Params.subtitle15 }}
					<p class="mt-1.5 ml-10">{{ .Params.subtitle15 }}</p>
					{{ end }} {{ if .Params.paragraph15 }}
					<p class="mt-10 ml-20 mr-20">{{ .Params.paragraph15 | markdownify }}</p>
					{{ end }}
				</div>
				<!-- ------------------------- 16 --------------------------- -->
				<div class="flex flex-col">
					{{ if .Params.image16 }}
					<img class="mt-10" src="{{ .Params.image16 }}" />
					{{ end }} {{ if .Params.subtitle16 }}
					<p class="mt-1.5">{{ .Params.subtitle16 }}</p>
					{{ end }} {{ if .Params.paragraph16 }}
					<p class="mt-10 ml-10 mr-20">{{ .Params.paragraph16 | markdownify }}</p>
					{{ end }}
				</div>
																								
			<!-- +1 extra full with image at the end?  -->
			<!-- </div>
				<img class="mt-20 w-3/6" src="{{ .Params.image }}" />
			<div> -->
				<div class="mb-36"></div>

			</div>
		</div>
	</div>
</div>
<!-- {{ partial "footer.html" . }} -->