<div class="flex flex-col">
	{{ partial "header.html" . }}
	<div class="grid md:grid-cols-12">

		<div class="flex flex-col 
					md:col-span-10
					md:col-start-2 
					md:mt-44
					">

			<div class="flex flex-col">
				{{ $image := .Resources.GetMatch (.Params.image) }}
				{{ $image := $image.Resize "x1200" }}
				<img class="w-full" src="{{ $image.RelPermalink }}"/>
			</div>

			<div class="grid md:grid-cols-6 gap-8">

				<div class="flex flex-col mt-10 col-span-3">
					<h1 class="text-3xl ml-10 invisible">{{ .Title }}</h1>

					<div class="m-10">{{ .Params.paragraph1 | markdownify }}</div>
				</div>

				<div class="flex-col mt-10 col-span-3">
					<h1 class="text-3xl">{{ .Title }}</h1>

					<div class="grid grid-cols-2 mt-10">
							<div>
								<div class="text-k1darker">Ort</div>
								<div class="mb-5 text-xl">{{ .Params.place }}</div>
								<div class="text-k1darker">Jahr</div>
								<div class="mb-5 text-xl">{{ .Params.year }}</div>

							</div>
							<div>
			
								{{ if .Params.bauherr }}
								<div class="text-k1darker">Bauherr</div>
								<div class="mb-5 text-xl">{{ .Params.bauherr }}</div>
								{{ end }}

								{{ if .Params.size }}
								<div class="text-k1darker">Größe</div>
								<div class="mb-5 text-xl">{{ .Params.size }}</div>
								{{ end }}

								{{ if .Params.ausloberinnen }}
								<div class="text-k1darker">Auslober*innen</div>
								<div class="mb-5 text-xl">{{ .Params.ausloberinnen }}</div>
								{{ end }}

								{{ if .Params.ergebniss }}
								<div class="text-k1darker">Ergebniss</div>
								<div class="mb-5 text-xl">{{ .Params.ergebniss }}</div>
								{{ end }}
								<!-- <div class="text-l textcolor-grey">Categorie</div> -->
								<!-- <div class="text-l mb-5">{{ .Params.keywords }}</div> -->
							</div>	
					</div>
				</div>

				<div class="flex flex-col mt-10 col-span-3">
					{{ if .Params.image2 }}
					{{ $image2 := .Resources.GetMatch (.Params.image2) }}
					{{ $image2 := $image2.Resize "x600" }}
					<img class="" src="{{ $image2.RelPermalink }}"/>
					{{ end }}
					{{ if .Params.paragraph2 }}
					<div class="mt-10 ml-10 mr-20">{{ .Params.paragraph2 | markdownify }}</div>
					{{ end }}
				</div>

				<!-- ------------------------- 3 --------------------------- -->
				<div class="flex flex-col col-span-3">
					{{ if .Params.image3 }}
					<img class="mt-10" src="{{ .Params.image3 }}" />
					{{ end }} 
					<p class="mt-1.5">
					{{ if .Params.subtitle3 }} 
					{{ .Params.subtitle3 }}</p>
					{{ end }} 
					{{ if .Params.paragraph3 }}
					<div class="mt-10 ml-20 mr-20">{{ .Params.paragraph3 | markdownify }}</div>
					{{ end }}
					
				</div>

				<!-- ------------------------ 4 ---------------------------- -->
				<div class="flex flex-col col-span-6">
					{{ if .Params.image4 }}
					<img class="mt-10" src="{{ .Params.image4 }}" />
					{{ end }} {{ if .Params.subtitle4 }}
					<p class="mt-1.5">{{ .Params.subtitle4 }}</p>
					{{ end }} {{ if .Params.paragraph4 }}
					<div class="mt-10 ml-10 w-3/6">{{ .Params.paragraph4 | markdownify }}</div>
					{{ end }}
				</div>
				<!-- ------------------------- 5 --------------------------- -->
				<div class="flex flex-col col-span-4">
					{{ if .Params.image5 }}
					<img class="mt-10" src="{{ .Params.image5 }}" />
					{{ end }} {{ if .Params.subtitle5 }}
					<p class="mt-1.5">{{ .Params.subtitle5 }}</p>
					{{ end }} {{ if .Params.paragraph5 }}
					<div class="m-10 ml-20">{{ .Params.paragraph5 | markdownify }}</div>
					{{ end }}
				</div>
				<!-- ------------------------- 6 --------------------------- -->
				<div class="flex flex-col col-span-2">
					{{ if .Params.image6 }}
					<img class="mt-20" src="{{ .Params.image6 }}" />
					{{ end }} {{ if .Params.subtitle6 }}
					<p class="mt-1.5">{{ .Params.subtitle6 }}</p>
					{{ end }} {{ if .Params.paragraph6 }}
					<div class="mt-10 ml-10 mr-10">{{ .Params.paragraph6 | markdownify }}</div>
					{{ end }}
				</div>
				<!-- ------------------------- 7 --------------------------- -->
				<div class="flex flex-col col-span-3">
					{{ if .Params.image7 }}
					<img class="" src="{{ .Params.image7 }}" />
					{{ end }} {{ if .Params.subtitle7 }}
					<p class="mt-1.5">{{ .Params.subtitle7 }}</p>
					{{ end }} {{ if .Params.paragraph7 }}
					<div class="mt-10 ml-20 mr-20">{{ .Params.paragraph7 | markdownify }}</div>
					{{ end }}
				</div>
				<!-- ------------------------- 8 --------------------------- -->
				<div class="flex flex-col col-span-3">
					{{ if .Params.image8 }}
					<img class="mt-10" src="{{ .Params.image8 }}" />
					{{ end }} {{ if .Params.subtitle8 }}
					<p class="mt-1.5">{{ .Params.subtitle8 }}</p>
					{{ end }} {{ if .Params.paragraph8 }}
					<div class="mt-10 ml-10 mr-20">{{ .Params.paragraph8 | markdownify }}</div>
					{{ end }}
				</div>				
				<!-- ------------------------- 9 --------------------------- -->
				<div class="flex flex-col col-span-2">
					{{ if .Params.image9 }}
					<img class="mt-10" src="{{ .Params.image9 }}" />
					{{ end }} {{ if .Params.subtitle9 }}
					<p class="mt-1.5">{{ .Params.subtitle9 }}</p>
					{{ end }} {{ if .Params.paragraph9 }}
					<div class="mt-10 ml-20 mr-20">{{ .Params.paragraph9 | markdownify }}</div>
					{{ end }}
				</div>				
				<!-- ------------------------- 10 --------------------------- -->
				<div class="flex flex-col col-span-4">
					{{ if .Params.image10 }}
					<img class="mt-10" src="{{ .Params.image10 }}" />
					{{ end }} {{ if .Params.subtitle10 }}
					<p class="mt-1.5">{{ .Params.subtitle10 }}</p>
					{{ end }} {{ if .Params.paragraph10 }}
					<div class="mt-10 ml-10 mr-20">{{ .Params.paragraph10 | markdownify }}</div>
					{{ end }}
				</div>	
				<!-- ------------------------- 11 --------------------------- -->
				<div class="flex flex-col col-span-6">
					{{ if .Params.image11 }}
					<img class="" src="{{ .Params.image11 }}" />
					{{ end }} {{ if .Params.subtitle11 }}
					<p class="mt-1.5">{{ .Params.subtitle11 }}</p>
					{{ end }} {{ if .Params.paragraph11 }}
					<div class="mt-10 ml-20 mr-20">{{ .Params.paragraph11 | markdownify }}</div>
					{{ end }}
				</div>
				<!-- ------------------------- 12 --------------------------- -->
				<div class="flex flex-col col-span-3">
					{{ if .Params.image12 }}
					<img class="mt-10" src="{{ .Params.image12 }}" />
					{{ end }} {{ if .Params.subtitle12 }}
					<p class="mt-1.5">{{ .Params.subtitle12 }}</p>
					{{ end }} {{ if .Params.paragraph12 }}
					<div class="mt-10 ml-10 mr-20">{{ .Params.paragraph12 | markdownify }}</div>
					{{ end }}
				</div>
				<!-- ------------------------- 13 --------------------------- -->
				<div class="flex flex-col col-span-3">
					{{ if .Params.image13 }}
					<img class="" src="{{ .Params.image13 }}" />
					{{ end }} {{ if .Params.subtitle13 }}
					<p class="mt-1.5">{{ .Params.subtitle13 }}</p>
					{{ end }} {{ if .Params.paragraph13 }}
					<div class="mt-10 ml-20 mr-20">{{ .Params.paragraph13 | markdownify }}</div>
					{{ end }}
				</div>
				<!-- ------------------------- 14 --------------------------- -->
				<div class="flex flex-col col-span-3">
					{{ if .Params.image14 }}
					<img class="mt-10" src="{{ .Params.image14 }}" />
					{{ end }} {{ if .Params.subtitle14 }}
					<p class="mt-1.5">{{ .Params.subtitle14 }}</p>
					{{ end }} {{ if .Params.paragraph14 }}
					<div class="mt-10 ml-10 mr-20">{{ .Params.paragraph14 | markdownify }}</div>
					{{ end }}
				</div>
				<!-- ------------------------- 15 --------------------------- -->
				<div class="flex flex-col col-span-3">
					{{ if .Params.image15 }}
					<img class="" src="{{ .Params.image15 }}" />
					{{ end }} {{ if .Params.subtitle15 }}
					<p class="mt-1.5">{{ .Params.subtitle15 }}</p>
					{{ end }} {{ if .Params.paragraph15 }}
					<div class="mt-10 ml-20 mr-20">{{ .Params.paragraph15 | markdownify }}</div>
					{{ end }}
				</div>
				<!-- ------------------------- 16 --------------------------- -->
				<div class="flex flex-col col-span-3">
					{{ if .Params.image16 }}
					<img class="mt-10" src="{{ .Params.image16 }}" />
					{{ end }} {{ if .Params.subtitle16 }}
					<p class="mt-1.5">{{ .Params.subtitle16 }}</p>
					{{ end }} {{ if .Params.paragraph16 }}
					<div class="mt-10 ml-10 mr-20">{{ .Params.paragraph16 | markdownify }}</div>
					{{ end }}
				</div>
																								
			<!-- +1 extra full with image at the end?  -->
			<!-- </div>
				<img class="mt-20 w-3/6" src="{{ .Params.image }}" />
			<div> -->
				<div class="mb-36"></div>

			</div>
		</div>
	</div>
</div>
<!-- {{ partial "footer.html" . }} -->