<div class="flex flex-col">
	<div class="grid grid-cols-12">
	  {{ partial "header.html" . }}
  
		<div class="flex flex-col 
					col-span-8 
					md:col-start-3
					md:mt-32 
					mt-10
					">
			<h2 class="text-xl mb-10">{{ .Title }}</h2>

			<!-- <span class="post-date">{{ .Date.Format "January 2, 2006" }}</span> -->

			{{ if .Params.image }}
				<img src="{{ .Params.image }}" >
			{{ end }}
			<p class="mb-5">{{ .Params.short_text | markdownify }}</p>

			<p class="mb-24">{{ .Params.text | markdownify }}</p>

		</div>
	</div>
</div>
<!-- {{ partial "footer.html" . }} -->
