<div class="flex flex-col">
    <div class="grid grid-cols-12">
    {{ partial "header.html" . }}
    <div class="flex flex-col 
                col-span-8 
                md:col-start-3
                md:ml-auto 
                md:mr-auto
                md:mt-32 
                mt-10
                ">    
            <section class="flex flex-col">
               <span>
                <!-- <a class="hover:underline" href="#philosophie">Philosophie</a> / -->
                <a class="hover:text-k1green" href="#philosophie">Philosophie</a> /
                <a class="hover:text-k1green" href="#team">Unser Team</a> /
                <a class="hover:text-k1green" href="#arbeitsverfahren">Arbeitsschwerpunkte</a> /
                <a class="hover:text-k1green" href="#raeume">Räume</a>
               </span>
            </section>
            
            <section class="flex flex-col md:max-w-[800px] mt-24 mb-20">
                {{ with .Site.GetPage "/philosophie" }}
                <h2 id="philosophie" class="text-xl mb-6">{{ .Title }}</h2>
                <div class="">{{ .Params.textarea | markdownify }}</div>
                {{ end }}
            </section>
    
            <section class="flex flex-col mt-24 mb-20 md:max-w-[700px]">
                <h2 id="team" class="text-xl mb-6">Unser Team</h2>
                <div class="grid 
                lg:grid-cols-4
                sm:grid-cols-3
                grid-cols-2
                ">
                {{range sort (sort .Data.Pages "Params.name") "Params.index"}} 
                    <figure class="w-36 mb-12">
                        <img class="grayscale" src="{{ .RelPermalink }}{{ .Params.image }}" alt="{{ .Params.name }}">
                        <figcaption>{{ .Params.name }}</figcaption>
                        <p class="text-xs">{{ .Params.bio }}</p>
                    </figure>
                {{ end }}
                </div>
            </section>
                
            <section class="flex flex-col mt-24 mb-20">
                {{ with .Site.GetPage "/arbeitsverfahren" }}
                <h2 id="arbeitsverfahren" class="text-xl mb-6">Arbeitsschwerpunkte</h2>
                <div class="grid md:grid-cols-2 mt-10">
                    {{ $display_posts := ((.Site.GetPage "section" "/arbeitsverfahren").Pages) }}
                    {{ range $post := $display_posts }}
                    <!-- <div class="m-10"> -->
                        <img class="md:mb-10 object-cover w-96 grayscale opacity-60" src="{{ .RelPermalink }}{{ .Params.image }}" alt="">
                        <div class="md:ml-10">
                            <h3 class="text-xl">{{ .Title }}</h3><br>
                            <p>{{ .Params.info }}</p>
                        </div>
                    <!-- </div> -->
                    {{ end }}
                </div>
                {{ end }}
            </section>
    
            <section class="flex flex-col mt-20 mb-20">
                {{ with .Site.GetPage "/raeume" }}
                    <h2 id="raeume" class="text-xl mb-6">{{ .Title }}</h2>
                    <img class="w-8/12 opacity-30 grayscale" src='{{ .RelPermalink }}{{ .Params.image }}' alt="">
                {{ end }}
            </section>
        </div>
    </div>
</div>
<!-- {{ partial "footer.html" . }} -->
