<div class="flex flex-col">
    <div class="font-[100] font-roboto grid grid-cols-12 mt-24">
    {{ partial "header.html" . }}
        <div class="flex flex-col col-span-8 ml-10 mt-24">
    
            <section class="flex flex-col">
               <span>
                <!-- <a class="hover:underline" href="#philosophie">Philosophie</a> / -->
                <a class="hovercolor" href="#philosophie">Philosophie</a> /
                <a class="hovercolor" href="#team">Unser Team</a> /
                <a class="hovercolor" href="#arbeitsverfahren">Arbeitsverfahren</a> /
                <a class="hovercolor" href="#raeume">Räume</a>
               </span>
            </section>
            
            <section class="flex flex-col mt-24 mb-20">
                {{ with .Site.GetPage "/philosophie" }}
                <h2 id="philosophie" class="text-xl mb-6">{{ .Title }}</h2>
                <div class="">{{ .Content }}</div>
                {{ end }}
            </section>
    
            <section class="flex flex-col mt-24 mb-20">
                <h2 id="team" class="text-xl mb-6">Unser Team</h2>
                <div class="grid grid-cols-2 md:grid-cols-5 md:grid-rows-2">
                {{range sort (sort .Data.Pages "Params.name") "Params.index"}} 
                    <figure class="w-36 mr-2">
                        <img class="grayscale" src="{{ .RelPermalink }}{{ .Params.image }}" alt="{{ .Params.name }}">
                        <figcaption>{{ .Params.name }}</figcaption>
                        <p class="text-xs">{{ .Params.bio }}</p>
                    </figure>
                {{ end }}
                </div>
            </section>
                
            <section class="flex flex-col mt-24 mb-20">
                {{ with .Site.GetPage "/arbeitsverfahren" }}
                <h2 id="arbeitsverfahren" class="text-xl mb-6">{{ .Title }}</h2>
                <div class="grid md:grid-cols-2 mt-10">
                    {{ $display_posts := ((.Site.GetPage "section" "/arbeitsverfahren").Pages) }}
                    {{ range $post := $display_posts }}
                    <!-- <div class="m-10"> -->
                        <img class="md:mb-10 object-cover w-96 grayscale opacity-60" src="{{ .RelPermalink }}{{ .Params.image }}" alt="">
                        <div class="md:ml-10">
                            <h3 class="text-xl">{{ .Title }}</h3><br>
                            <p>{{ .Params.info}}</p>
                        </div>
                    <!-- </div> -->
                    {{ end }}
                </div>
                {{ end }}
            </section>
    
            <section class="flex flex-col mt-20 mb-20">
                {{ with .Site.GetPage "/raeume" }}
                    <h2 id="raeume" class="text-xl mb-6">{{ .Title }}</h2>
                    <!-- {{ .Content }} -->
                    <img class="w-8/12 opacity-30 grayscale" src='{{ .RelPermalink }}{{ .Params.image }}' alt="">
                {{ end }}
            </section>
        </div>
    </div>
</div>
<!-- {{ partial "footer.html" . }} -->
