{{ partial "header.html" . }}
{{ partial "subnav.html" . }}


{{ $display_posts := (((.Site.GetPage "section" "/arbeiten").Pages).ByDate.Reverse) }}
{{ range $post := $display_posts }}

  {{ if in .Params.tags "wbw" }}

<article class="post-snippet">
  <h2 class="post-title">
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h2>
  <p>{{ .Params.text }}</p>

  {{ if .Params.image }}
    <img src="{{ .RelPermalink }}{{ .Params.image }}" alt="">
  {{ end }}

</article>
  {{ end }}

{{ end }}

{{ partial "footer.html" . }}
