<div class="flex flex-col">
  <div class="grid grid-cols-12">
    {{ partial "header.html" . }}

    <div class="flex flex-col col-span-10 ml-10 mt-32 ">
      {{ $display_posts := (.Site.Pages.ByDate.Reverse) }} {{ range $post :=
      $display_posts }} {{ if in .Params.tags "frontpage" }}

      <article class="
                    mb-36 
                    md:first:ml-20
                    md:second:ml-96
                    md:third:ml-20 
                    md:fourth:ml-[500px]
                    md:fifth:ml-20
                    md:last:ml-72  
                    md:w-2/4
                    ">
        <div>
          <a href="{{ .RelPermalink }}">

            {{ if .Params.image }}
            <img
              class="z-0"
              src="{{ .RelPermalink }}{{ .Params.image }}"
              alt=""
            />
            {{ end }}
            <p class="mt-2 !font-[500] text-xl z-10 inline-block ml-12" >{{ .Title }}</p>

          </a>
          <p class="ml-12">{{ .Params.textarea | markdownify }}</p>

        </div>
      </article>

      {{ end }} 
      {{ end }}
    </div>
  </div>
</div>
<!-- {{ partial "footer.html" . }} -->
