<div class="flex flex-col">
  <div class="font-[100] font-roboto grid grid-cols-12">
    {{ partial "header.html" . }}

    <div class="flex flex-col col-span-8 ml-10 mt-32">
      {{ $display_posts := (.Site.Pages.ByDate) }} {{ range $post :=
      $display_posts }} {{ if in .Params.tags "frontpage" }}

      <article class="mb-28">
        <div>
          <a href="{{ .RelPermalink }}">
            <p class="text-xl z-10" >{{ .Title }}</p>

            {{ if .Params.image }}
            <img
              class="w-8/12 z-0 ml-12"
              src="{{ .RelPermalink }}{{ .Params.image }}"
              alt=""
            />
            {{ end }}
            <!-- <p class="text-xl z-10" >{{ .Title }}</p> -->
          </a>
        </div>
        <p class="ml-12">{{ .Params.text }}</p>
      </article>

      {{ end }} {{ end }}
    </div>
  </div>
</div>
<!-- {{ partial "footer.html" . }} -->
