<div class="flex flex-col">
  {{ partial "header.html" . }}
  <div class="grid grid-cols-12 w-full">
    <div class="flex flex-col 
                md:col-start-2
                md:col-span-10
                md:mt-44
                mt-10
                ">
      {{ partial "subnav.html" . }}

      {{ range.Data.Pages.ByTitle.Reverse }}
      <article>
        <!-- <p><a class="text-2xl" href="{{ .RelPermalink }}">{{ .Title }}</a></p> -->
        <p class="text-2xl mb-6 font-[500]">{{ .Title }}</p>

        {{ if .Params.image }}
        <img src="{{ .Params.image }}">
        {{ end }}

        <p class="mb-24">{{ .Params.textarea | markdownify }}</p>

      </article>
      {{ end }}
    </div>
  </div>
</div>
<!-- {{ partial "footer.html" . }} -->