<div class="flex flex-col">
  <div class="font-[100] font-roboto grid grid-cols-12 ml-12 mt-24">
    {{ partial "header.html" . }}
    <div class="flex flex-col col-span-8 mt-24">
<!-- <h1>{{ .Title }}</h1> -->

{{ .Content }}

{{ range.Data.Pages.ByTitle.Reverse }}
<article class="post-snippet ref-list">
  <h3>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h3>

  {{ if .Params.image }}
	<img src="{{ .Params.image }}" >
  {{ end }}
	<!-- <time datetime="{{ .Date.Format "2006-01-02" }}">
		{{ .Date.Format "January 2, 2006" }}
	</time> -->
  <p class="ref-list">{{ .Content }}</p>

</article>
{{ end }}

{{ partial "footer.html" . }}
